@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');

html{
  scroll-behavior:smooth;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root{
  --PrimaryColor: hsl(200, 54%, 47%);
  --SecondaryColor: hsl(180, 30%, 43%);
  --gradientColor : linear-gradient(to right, hsl(187, 46%, 58%), hsl(199, 71%, 58%));
  --WhiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 0%, 0%);
  --textColor: hsl(120, 3%, 7%);
  --whiteColorDeam:hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor:rgb(239, 239, 239);
  --bodyColor:rgb(222, 236, 238);
  --cardBG:rgb(225, 225, 225);
}

*{      
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.icon{
  font-size: 2rem;
  cursor: pointer;
  /* color: rgb(255, 10, 10); */
}

.grid{
  display: grid;
  align-items: center;
}

.flex{
  display: flex;
  align-items: center;
}

.section{
  padding: 4rem 0 2rem;
}

.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.btn{
  padding: .6rem 1.5rem;
  background: var(--gradientColor);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn a{
  color: var(--whiteColor);
  font-weight: 500;
}

.btn:hover{
  background: var(--SecondaryColor);
}

img, video{
  width: 100%;
  height: auto;
}

input{
  font-size: 100%
}

body{
  background: var(--bodyColor);
}

/* Media css */
@media screen and (min-width: 1240px) {
  .container{
    width: 80% !important;
    margin: auto !important;
  }

  .section{
    padding: 6rem 0 4rem;
  }
}

@media screen and (min-width: 2500px) {
    body{
      zoom: 1.7;
    }
}